#root {
    font-size: 20px;
}

.inputForm {
    width: 80%;
    height: 50px;
    padding: 0px;
    margin: 0px 5px 0px 0px;
    border-radius: 5px;
    font-size: 25px;
    padding-left: 15px;
    color: #93949F;
    border: 1px solid #93949F;
}

.addBtn {
    width: 60px;
    height: 54px;
    background-color: #8E49E9;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: 750;
}

.btnList {
    margin: 10px 0px 10px 0px;
}

.nav-item {
    background-color: #4A9CAA;
    margin: 0px 5px 0px 5px;
    text-decoration: none;
}

.nav-link {
    color: white;
}