.todoItem {
    margin: 10px;
    padding: 15px;
    background-color: #E1C1AC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkBox {
    width: 25px;
    height: 25px;
}

.deleteBtn {
    width: 80px;
    height: 35px;
}